{% extends 'layout.jinja' %}

{% from 'nhsuk/components/button/macro.jinja' import button %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}

{% if error %}
  {% set error_message = { "text": error } %}
{% endif %}

{% block beforeContent %}
  {{
    backLink({
      "href": back_link_url,
      "text": "Back"
    })
  }}
{% endblock beforeContent %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="{{ request.path }}" method="POST">
        {{ csrf_input }}

        {{ form }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
