{% extends 'layout.jinja' %}
{% from 'nhsuk/components/button/macro.jinja' import button %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}

{% block beforeContent %}
  {{
    backLink({
      "href": url("questions:family_history_lung_cancer"),
      "text": "Back"
    })
  }}
{% endblock beforeContent %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Responses</h1>
      <ul class="responses">
        <li>Have you ever smoked? {{ response_set.get_have_you_ever_smoked_display() }}</li>
        <li>What is your date of birth? {{ response_set.date_of_birth }}</li>
        <li>What is your height? {{ response_set.formatted_height }}</li>
        <li>What is your weight? {{ response_set.formatted_weight }}</li>
        <li>What was your sex at birth? {{ response_set.get_sex_at_birth_display() }}</li>
        <li>Which of these best describes you? {{ response_set.get_gender_display() }}</li>
        <li>What is your ethnic background? {{ response_set.get_ethnicity_display() }}</li>
      </ul>

      <form action="{{ request.path }}" method="post">
        {{ csrf_input }}

        {{ button({
          "text": "Submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
